
:root {
  --cell-width: 8rem;
  --cell-height: 8rem;
  --cell-margin: -1rem 0px; /* Slightly overlaps the top and bottom rows */
  --cell-inner-height: 2rem; /*This is half of the height*/
  --cell-inner-width: 8rem;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  flex-direction: column;
}

#game {
  display: flex; /* displays flex-items (children) inline */
  flex-direction: column; /* stacks them vertically */
  height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

#game-area {
  flex: 1; /* takes the remaining height of the "container" div */
  /* display: grid;
  gap: 1rem;
  grid-template-columns: 4fr 1fr; */
  display: flex;
  flex-direction: row;
  overflow: hidden; /* to scroll just the "main" div */
}

#menu {
  flex: 1;

  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}

.menu-block {
  padding: 0 1rem;
  border: 1px solid #ccc;
}

.board {
  /* flex: 1 1 80%; */
  flex: 0 0 80%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-self: center; */
  padding: 1rem; /* need this because the top and bottom of a hexagon extends outside of the bounding box leading to it being cut off if it is on the edge of the parent container*/

}

.row {
  display: flex;
  /* TODO: We need some amount of margin left to support rendering larger boards/
  /* margin-left: calc(calc(var(--board-size) * 2) * var(--cell-width)) */
}

.cell {
  width: var(--cell-width);
  height: var(--cell-height); /* Adjusted for pointy top */
  background-color: #f4f4f4;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: var(--cell-margin); /* Overlapping rows vertically */
}

.cell:hover {
  background-color: aquamarine;
}


.soldier {
  position: relative;
  width: var(--cell-inner-width);
  height: var(--cell-inner-height);
  white-space: nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.soldier:hover {
  transform: scale(1.4);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.prussian-blue {
  background-color: #003153;
  color: #f4f4f4;
  /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
}

.forest-green {
  background-color: #228B22;
  /* clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); */
}

.terrain-forest {
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon points="5,0 7,5 3,5" fill="green"/><polygon points="15,5 17,10 13,10" fill="green"/><polygon points="10,15 12,20 8,20" fill="green"/><polygon points="3,10 5,15 1,15" fill="green"/></svg>');
  background-size: 20px 20px;
  background-repeat: repeat;
}

.terrain-mountain {
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><polygon points="10,0 20,20 0,20" fill="gray"/><polygon points="5,5 15,20 0,20" fill="darkgray"/></svg>');
  background-size: 20px 20px;
  background-repeat: repeat;
}

.empty-move {
  background-color: #32BB02;
  opacity: 25%;
}

.empty-move:hover {
  opacity: 100%;
}

.attack-move {
  background-color: #BB3202;
}

#events-container {
  
}

.hide-container {
  visibility: hidden;
  display: none;
}

#log-container {

  align-items: center;
  border: 1px solid #ccc;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1rem;
  height: 7rem;
}

.logs {
  width: 100%;
  height: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin-bottom: 0.5rem;
}
  
.moves {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
  
.invasions {
  width: 300px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: white;
}

#info-panel-container {
  display: flex;
  justify-content: space-between;
}

.soldier-info-container {
  display: grid;
  gap: 1rem;
}

button {
  cursor: pointer;
  
  background-color: blue;
  color: white;
  
  font-size: medium;
  font-weight: 150;
  line-height: 1.333;

  border: none;
  border-radius: 6px;
}

  